@use 'base';

#landing {
  height: 100vh;

  .-div-landing {
    .-bg {
      //background
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../res/img/bg1.jpg);
      background-size: cover;
      background-position: center center;
      filter: brightness(0.5);
      z-index: -1;
    }
    height: 100%;
    .-div-central {
      position: absolute;
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      text-align: center;
      p {
        font-size: 1.5rem;
        color: $color-highlight;
      }
      h1 {
        font-size: 7rem;
        color: $off-white;
      }
      div {
        margin-top: 4rem;
      }
    }
  }
}
